@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|VT323');
h1{
    font-family: 'Press Start 2P', cursive;
    color:white;
}
p{
    color:white;
}
body{
    background:url("images/background1.png");
    background-repeat:repeat-x;
    cursor:url("images/chipset.png"),pointer;
}
#title1{
    position:absolute;
    width:1600px;
    height:50px;
    background:black;
    text-align:center;
    font-size:23px;
    left:160px;
    top:2px;
    margin:0;
    padding-top:10px;
    
}
#title2{
    position:absolute;
    width:500px;
    height:170px;
    background:black;
    font-size:23px;
    top:30px;
    left:700px;
    text-align:center;
    font-family: 'Press Start 2P', cursive;
    padding-top:10px;
}

#title3{
    position:absolute;
    width:800px;
    height:110px;
    background:black;
    font-size:23px;
    top:650px;
    left:550px;
    text-align:center;
    font-family: 'Press Start 2P', cursive;
    padding-top:10px;

}
#end1{
    position:absolute;
    text-align:center;
    width:800px;
    height:90px;
    background:black;
    font-size:25px;
    top:20px;
    left:18600px;
    padding-top:10px;
}
#end2{
    position:absolute;
    text-align:center;
    width:800px;
    height:90px;
    background:black;
    font-size:25px;
    top:700px;
    left:18600px;
    padding-top:10px;
}
#main{
    width: 20000px;
    background-repeat:repeat-x;
    margin-left:0px;
    margin-right:100px;
    height: 900px;
    position:relative;
    overflow:hidden;
}
#counter{
    font-family: 'VT323', monospace;
    height: 100px;
    width: 110px;
    line-height: 20px;
    border: 1px solid #99ff99;
    text-align:center;
    position:absolute;
    top:-10px;
    left:40px;
    color:white;
    font-size:31px;
    font-weight:900;
    padding-top:150px;
    background-color:#004600;
}
#sdesc{
    position:relative;
    top:650px;
    left:50px;
    height:100px;
    width:800px;
    background-color:black;
    font-family: 'VT323', monospace;
    font-size:23px;
    
}
#skyline2{
    background-image:url("images/skyline2.png");
    top:-70px;
    left:450px;
    position:fixed;
    width:1000px;
    height:600px;
    transition:all 3s;
    opacity:0;
}
#skyline1{
    background-image:url("images/skyline1.png");
    position:fixed;
    top:-70px;
    left:450px;
    width:1000px;
    height:600px;
    transition:all 3s;
}
#skyline3{
    background-image:url("images/skyline3.png");
    position:fixed;
    top:-70px;
    left:450px;
    width:1000px;
    height:600px;
    transition:all 3s;
    opacity:0;
}

#opin{
    width:190px;
    height:100px;
    position:fixed;
    left:1700px;
    top:800px;
    font-size:48px;
    background-color:#004600;
    border-color:#99ff99;
    font-family: 'VT323', monospace;
    color:white;
}
.menu1{
  color:white;
  width:150px;
  height:100px;
  font-size:1.2em;
  transition: all 0.5s;
  font-family: 'Press Start 2P', cursive;
}
.menu1:hover{
    background:skyblue;
}
#img1{
background:black url("images/opin1.png");
background-repeat:no-repeat;
background-position: center;
}
span.one{
  display:inline-block;
  height:25px;
  width:25px;
  position:relative;
  top:0px;
  left:10px;
    opacity:0;
  transition: all 2s;
overflow:hidden;
}
button:hover{
  cursor:url("images/chipset.png"),pointer;  
}
button:hover span.one{
  left:200px;
    opacity:100;
  top:-170px;
  width:900px;
  height:800px;
}
.menu2{
color:white;
  width:150px;
  height:100px;
  font-size:1.2em;
  transition: all 0.5s;
  font-family: 'Press Start 2P', cursive;
}
.menu2:hover{
    background:skyblue;
}
#img2{
background:black url("images/gen_1.png");
background-repeat:no-repeat;
background-position: center;  
}
span.two{
 
  display:inline-block;
  height:25px;
  width:25px;
  position:relative;
  top:0px;
  left:10px;
    opacity:0;
  transition: all 2s;
overflow:hidden;
}
button:hover span.two{
  left:200px;
    opacity:100;
  top:-170px;
  width:900px;
  height:800px;
}
.menu3{
  color:white;
  width:150px;
  height:100px;
  font-size:1.2em;
  transition: all 0.5s;
  font-family: 'Press Start 2P', cursive;
}
.menu3:hover{
    background:skyblue;
}
#img3{
  background:black url("images/media-2.png");
  background-repeat:no-repeat;
  background-position:center;
}
span.three{
  
  display:inline-block;
  height:25px;
  width:25px;
  position:relative;
  top:0px;
  left:10px;
    opacity:0;
  transition: all 2s;
overflow:hidden;
}
button:hover span.three{
  left:200px;
    opacity:100;
  top:-170px;
  width:900px;
  height:800px;
}
.menu4{
  color:white;
  width:150px;
  height:100px;
  font-size:1.2em;
  transition: all 0.5s;
  font-family: 'Press Start 2P', cursive;
}
.menu4:hover{
    background:skyblue;
}
#img4{
  background:black url("images/class-2.png");
  background-repeat:no-repeat;
  background-position:center;
}
span.four{
  
  display:inline-block;
  height:25px;
  width:25px;
  position:relative;
  top:0px;
  left:10px;
    opacity:0;
  transition: all 2s;
overflow:hidden;
}
button:hover span.four{
  left:200px;
    opacity:100;
  top:-170px;
  width:900px;
  height:800px;
}
.menu5{
  color:white;
  width:150px;
  height:100px;
  font-size:1.2em;
  transition: all 0.5s;
  font-family: 'Press Start 2P', cursive;
}
.menu5:hover{
    background:skyblue;
}
#img5{
    background:black url("images/infinitycorp.png");
  background-repeat:no-repeat;
  background-position:center;
}
span.five{

  display:inline-block;
  height:25px;
  width:25px;
  position:relative;
  top:0px;
  left:10px;
    opacity:0;
  transition: all 2s;
overflow:hidden;
}
button:hover span.five{
  left:200px;
    opacity:100;
  top:-170px;
  width:900px;
  height:800px;
}
.menu6{
  color:white;
  width:150px;
  height:100px;
  font-size:1.2em;
  transition: all 0.5s;
  font-family: 'Press Start 2P', cursive;
}
.menu6:hover{
    background:skyblue;
}
#img6{
    background:black url("images/jacki.png");
  background-repeat:no-repeat;
  background-position:center;
}
span.six{
  
  display:inline-block;
  height:25px;
  width:25px;
  position:relative;
  top:0px;
  left:10px;
    opacity:0;
  transition: all 2s;
overflow:hidden;
}
button:hover span.six{
  left:200px;
    opacity:100;
  top:-170px;
  width:900px;
  height:800px;
}

.opin{
 top:-20px;
text-align:center;
background:black;
left:5000px;
position: absolute;
font-size:25px;
height:55px;
width:900px;
padding-top:20px;
}


#opinintro{
    position:absolute;
    top:150px;
    left:5000px;
    background:black;
}
.genetic{
 top:-20px;
text-align:center;
background:black;
left:7000px;
position: absolute;
font-size:25px;
height:55px;
width:900px;
padding-top:20px;
}
#genintro{
    position:absolute;
    top:150px;
    left:7000px;
    background:black;
}
.media{
 top:-20px;
text-align:center;
background:black;
left:9000px;
position: absolute;
font-size:25px;
height:55px;
width:900px;
padding-top:20px;
}
#mediaintro{
    position:absolute;
    top:150px;
    left:9000px;
    background:black;
}
#classintro{
    position:absolute;
    top:150px;
    left:12000px;
    background:black;
}
.classism{
 top:-20px;
text-align:center;
background:black;
left:12000px;
position: absolute;
font-size:25px;
height:55px;
width:900px;
padding-top:20px;
}
.infinity{
 top:-20px;
text-align:center;
background:black;
left:15000px;
position: absolute;
font-size:25px;
height:55px;
width:900px;
padding-top:20px;
}
#infincorp{
    position:absolute;
    top:150px;
    left:15000px;
    background:black;
}
.jack{
 top:-20px;
text-align:center;
background:black;
left:17000px;
position: absolute;
font-size:25px;
height:55px;
width:900px;
padding-top:20px;
}
#jack{
    position:absolute;
    top:150px;
    left:17000px;
    background:black;
}